* {
    margin: 0px;
    padding-left: 2px;
    padding-right: 2px;
   

}

body {
    background-color: blanchedalmond;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    padding: 15px

}



ul li {
    padding: 5px;
    list-style: none;
    display: inline-block ;
    

}



.header {
    width: 100%;
    height: 75px;
    background-color: darkseagreen;
    font-size: 15px;
    padding: 15px;
    margin-top: 20px;
    margin-left: -10px;
    text-align: center;

}

.h1 {
    font-size: 20px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 20px;
    background-color: darkseagreen;
    text-align: center;

}

p {
    font-size: 15px;
}

@media (min-width: 320px){

    h1{
        font-size: 40px;
    }
    
    ul li {
        font-size: 15px;
    }

    body {
        background-color: blueviolet;
    }
}

@media (min-width: 768px){
    h1{
        font-size: 30px;
    }

    ul li {
        font-size: 20px;
    }

    p{
        font-size: 20px;
    }

    body {
        background-color: crimson;
    }

}
@media (min-width: 1200px){

    h1{
        font-size: 50px;
    }

    ul li {
        font-size: 20px;
    }

    body{
        background-color: coral;
    }
}