* {
    margin: 0px;
    padding: 2px;

}

body {
    background-color: blanchedalmond;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    padding: 15px;
   
    


}

h1 {
    font-size: 50px;
    
}

ul li {
    padding: 5px;
    list-style: none;
    display: inline-block ;
    border: 2px solid blanchedalmond;
    
  
    

}




.header {
    width: 100%;
    height: 50px;
    background-color: darkseagreen;
    font-size: 15pt;
    padding: 10px;
    margin-top: 20
px;
}


.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 20px;
    background-color: darkseagreen;
    text-align: center;

}

p {
    font-size: larger;
}